
// Create pipeline configuration
params.help = 'nextflow run process_reads.nf --target Target/ --control Control/ -profile apptainer -c process_reads.config'

params.target = './'
params.control = ''

// Processing variables
params.assembly = 'mm10'
params.reads_type = 'paired'
params.length = '100'
params.assay = 'cutntag'
params.normalize_by = 'BPM'
params.adapters = 1
params.keep_duplicates = false
params.qctrim = false
params.polyAtrim = false
params.stranded = false
params.merge = false // Currently only supports merging of single-end replicates when their reads are in the same directory
params.cleanup = true

// Genome assembly files for alignment
params.genome_index = '~/projects/def-jdilwort/Reference_Files/bowtie2/' + params.assembly + '/genome'

// Optional files
params.multiqc_config = 'multiqc_config.yaml'
params.blacklist = ''

// Additional alignment parameters
params.mapq = '10'
params.sort_bam_order = 'coordinate'

// Read group information for alignment info (sometimes required for subprocesses)
// see https://gatk.broadinstitute.org/hc/en-us/articles/360035890671-Read-groups
// see https://samtools.github.io/hts-specs/SAMv1.pdf
params.rg_id = "${params.target.split('/')[-1]}" //unique identifier for each read group
params.rg_sm = "${params.target.split('/')[-1]}" //name of the sample sequenced in the read group
params.rg_pl = 'ILLUMINA' //platform,  sequencing technology used to produce the reads
params.rg_lb = "${params.assay}_${params.reads_type}" //library used to sequence the reads
params.rg_pu = 'illumina' //platform unit, recommended for BQSR (Base Quality Score Recalibration)

// Peak caller variables
params.macs_qvalue = '1e-5'// change to 0.05 default
params.seacr_threshold = '0.01'
params.gopeaks_pvalue = '0.05'


// TODO:Spike-in handling
params.no_spikein = true
params.spikein_type = 'Amp'
params.spikein_index_amp = '~/projects/def-jdilwort/Reference_Files/Spikein_indices/Amp_pbluescript/Amp_index/Amp_pBlue'
params.spikein_index_Ecoli = '~/projects/def-jdilwort/Reference_Files/Spikein_indices/EcoliK12_index/EcoliK12Index/EcoliK12'
//params.spike_align = '-p ' + params.cpus + ' --end-to-end --very-sensitive --no-overlap --no-dovetail --no-mixed --no-discordant --phred33 -I 10 -X 700'

process.debug = false

report {
    enabled = true
    file = "${params.target}nf-report.html"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.target}nf-dag.png"
    overwrite = true
}
timeline {
    enabled = true
    file = "${params.target}nf-timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.target}nf-trace.txt"
    overwrite = true
}

profiles {

    standard {
        process.conda = '/home/eric/miniconda3/envs/bio'
        conda.enabled = true
        process.executor = 'local'
        process.cpus = Runtime.runtime.availableProcessors()
        process {
            withName: SORT_BAM{ 
                conda = '/home/eric/miniconda3/'
            }
            withName: DEDUPLICATE_BAM{ 
                conda = '/home/eric/miniconda3/'
            }
            withName: MERGE_BAMS{ 
                conda = '/home/eric/miniconda3/'
            }
            withName: SEACR_PEAKS_NO_CONTROL{ 
                conda = '/home/eric/miniconda3/'
            }
            withName: SEACR_PEAKS_CONTROL{ 
                conda = '/home/eric/miniconda3/'
            }
            withName: GOPEAKS_PEAKS_NO_CONTROL{ 
                conda = '/home/eric/miniconda3/'
            }
            withName: GOPEAKS_PEAKS_CONTROL{ 
                conda = '/home/eric/miniconda3/'
            }
        }
    }

    apptainer {
        //container = '/mnt/f/OHRI/Apptainers/process_reads.sif'
        //https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5c/5c486f130bd59d404a214fbee206d3c8292536a886d3c6b1bda38ffa259b55af/data
        //process.container = "bowtie2_cutadapt_deeptools_fastqc_pruned_9df37e6879b1dd2f.sif"
        process.container = "file://$HOME/Work/OHRI/nextflows/bedtools_blast_bowtie2_bwa_pruned_d138c8fbc0798230.sif"
        apptainer.autoMounts = true
        apptainer.runOptions = "--bind $HOME/Work/OHRI/References/"
        apptainer.enabled = true
        process.cpus = Runtime.runtime.availableProcessors()/2
        //apptainer.ociAutoPull = true
        //apptainer.ociMode = true
        outputDir = params.target
        //workDir = "$HOME/nextflows/work/"
        //launchDir = "$HOME/nextflows/"
    }

    cluster {
        //https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5c/5c486f130bd59d404a214fbee206d3c8292536a886d3c6b1bda38ffa259b55af/data
        //apptainer.autoMounts = true
        apptainer.runOptions = "--bind $HOME/projects/def-jdilwort/Reference_Files/"
        apptainer.enabled = true
        apptainer.cacheDir = "$HOME/scratch/nextflows/"
        process.container = "file://$HOME/scratch/nextflows/bedtools_blast_bowtie2_bwa_pruned_d138c8fbc0798230.sif"
        process.cpus = Runtime.runtime.availableProcessors()
        workDir = "$HOME/scratch/nextflows/work"
        //launchDir = "$HOME/scratch/nextflows/"
	    //apptainer.ociAutoPull = true
        //apptainer.ociMode = true
    }
}
